<% if record.errors.any? %>
  <div class="notification is-danger">
    <p class="has-text-weight-semibold">
      <%= t("errors.template.header", count: record.errors.count, model: record.class.model_name.human.downcase) %>
    </p>
    <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
