<% content_for :title, t("public.reservations.confirmation.title") %>

<div class="box has-text-centered py-6">
  <span class="confirmation-icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="none"
         stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
      <path d="M20 6 9 17l-5-5"></path>
    </svg>
  </span>
  <h1 class="title is-3"><%= t("public.reservations.confirmation.title") %></h1>
  <p class="subtitle is-5 has-text-grey"><%= t("public.reservations.confirmation.body") %></p>
  <%= link_to t("public.reservations.confirmation.back"), public_root_path, class: "button is-primary mt-3" %>
</div>
