<% content_for :title, t("public.reservations.confirmation.title") %>

<div class="notification is-success">
  <h1 class="title is-4"><%= t("public.reservations.confirmation.title") %></h1>
  <p><%= t("public.reservations.confirmation.body") %></p>
</div>

<%= link_to t("public.reservations.confirmation.back"), public_root_path, class: "button is-light" %>
