<p><%= t("intro", scope: "reservation_mailer.new_request_notification", event: @event.title) %></p>

<%= render "operator_recap" %>

<p><%= link_to t("cta", scope: "reservation_mailer.new_request_notification"), event_group_url(@event, @group) %></p>
